<!-- Display teachers in a table format if they exist -->
<div *ngIf="teachers.length">
    <table border="1">
        <thead>
            <tr>
                <th (click)="sortData('name')" [class.sorted]="sortColumn === 'name'">
                    Name
                    <span *ngIf="sortColumn === 'name'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
                  </th>
                  <th (click)="sortData('dob')" [class.sorted]="sortColumn === 'dob'">
                    Date of Birth
                    <span *ngIf="sortColumn === 'dob'">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
                  </th>                  
                <th>Address</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let teacher of teachers">
                <td>{{ teacher.firstName }} {{ teacher.lastName }}</td>
                <td>{{ teacher.dateOfBirth }}</td>
                <td>{{ teacher.address }}</td>
                <td>{{ teacher.phoneNumber }}</td>
                <td>
                    <!-- More Info button that navigates to the teacher's profile page -->
                    <button [routerLink]="['/teacher', teacher.id]">More Info</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Display the message if there are no teachers -->
<div *ngIf="!teachers?.length">
    <p>No teachers found. Would you like to add a new teacher?</p>
</div>

<!-- Always display the "Add New Teacher" button -->
<button (click)="toggleAddTeacherForm()">Add New Teacher</button>

<!-- Display the form only if showAddTeacherForm is true -->
<div *ngIf="showAddTeacherForm" class="teacher-form">
    <h3>Add New Teacher</h3>
    <form (submit)="addTeacher()">
        <div>
            <label for="firstName">Name:</label>
            <input type="text" [(ngModel)]="newTeacher.firstName" name="firstName" id="firstName">
        </div>
        <div>
            <label for="dob">Date of Birth:</label>
            <input type="date" [(ngModel)]="newTeacher.dateOfBirth" name="dateOfBirth" id="dateOfBirth">
        </div>
        <div>
            <label for="dob">Address:</label>
            <input type="text" [(ngModel)]="newTeacher.address" name="address" id="address">
        </div>
        <div>
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" [(ngModel)]="newTeacher.phoneNumber" name="phone" id="phone">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<!-- Display error message if it exists -->
<div *ngIf="errorMessage">
    <p>Error: {{ errorMessage }}</p>
</div>

  