<div class="container">
    <h2>{{ isEdit ? 'Edit' : 'Add' }} Group</h2>
    <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="groupName" class="form-label">Group Name</label>
        <input type="text" class="form-control" id="groupName" formControlName="groupName">
      </div>
      <div class="form-group">
        <label for="teacher">Teacher</label>
        <select formControlName="teacher" class="form-control">
          <option value="" disabled>Select a Teacher</option>
          <option *ngFor="let teacher of teachers" [ngValue]="teacher">
            {{ teacher.firstName }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" formControlName="description">
      </div>
      <div class="form-group">
        <label for="course">Course</label>
        <select formControlName="course" class="form-control">
          <option value="" disabled>Select a Course</option>
          <option *ngFor="let course of courses" [ngValue]="course">
            {{ course.courseName }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="startDate" class="form-label">Start Date</label>
        <input type="date" class="form-control" id="startDate" formControlName="startDate">
      </div>
      <div class="mb-3">
        <label for="endDate" class="form-label">End Date</label>
        <input type="date" class="form-control" id="endDate" formControlName="endDate">
      </div>
      <button type="submit" class="btn btn-success">{{ isEdit ? 'Update' : 'Add' }}Group</button>
    </form>
  </div>
  