<div *ngIf="group">
    <h2>{{ group.groupName }}</h2>
    <p><strong>Teacher:</strong> {{ teacherName }}</p>
    <p><strong>Course:</strong> {{ courseName }}</p>
    <p><strong>Description:</strong> {{ group.description }}</p>
    <p><strong>Start Date:</strong> {{ group.startDate | date }}</p>
    <p><strong>End Date:</strong> {{ group.endDate | date }}</p>
    <p><strong>Monthly Fee:</strong> {{ group.monthlyFee | currency:'KGS':'symbol' }}</p>
    <p><strong>Schedule:</strong> {{ group.schedule }}</p> <!-- Display schedule -->

    <button (click)="goBackToList()">Back to List</button>
</div>

  