<div>
    <h2>Assign Student to Group</h2>
    <div>
      <label for="student-select">Select Student:</label>
      <select id="student-select" [(ngModel)]="selectedStudentId">
        <option *ngFor="let student of students" [value]="student.id">{{ student.firstName }} {{ student.lastName }}</option>
      </select>
    </div>
    <div>
      <label for="group-select">Select Group:</label>
      <select id="group-select" [(ngModel)]="selectedGroupId">
        <option *ngFor="let group of groups" [value]="group.id">{{ group.groupName }}</option>
      </select>
    </div>
    <button (click)="assignStudentToGroup()">Assign to Group</button>
  </div>
  