<div *ngFor="let studentId of paymentsByStudent | keyvalue">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Payment ID</th>
        <th>Group ID</th>
        <th>Student ID</th>
        <th>Amount</th>
        <th>Date Paid</th>
        <th>Due Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of studentId.value">
        <td>{{ payment.paymentId }}</td>
        <td>{{ payment.classGroup?.id }}</td>
        <td>{{ payment.student?.studentId }}</td> <!-- Ensure student.studentId is accessed here -->
        <td>{{ payment.amount }}</td>
        <td>{{ payment.datePaid | date }}</td>
        <td>{{ payment.dueDate | date }}</td>
        <td>{{ payment.status }}</td>
        <td>
          <button class="btn btn-primary" (click)="editPayment(+studentId.key, payment.paymentId)">Edit</button>
          <button class="btn btn-danger" (click)="deletePayment(payment.paymentId!)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
