<div class="student-details-container">
    <h2>Student Details</h2>
    <div *ngIf="student">
      <p><strong>ID:</strong> {{ student.studentId }}</p>
      <p><strong>First Name:</strong> {{ student.firstName }}</p>
      <p><strong>Last Name:</strong> {{ student.lastName }}</p>
      <p><strong>Gender:</strong> {{ student.gender }}</p>
      <p><strong>Date of Birth:</strong> {{ student.dateOfBirth | date }}</p>
      <p><strong>School:</strong> {{ student.school }}</p>
      <p><strong>Grade:</strong> {{ student.grade }}</p>
      <p><strong>Session:</strong> {{ student.session }}</p>
      <p><strong>Address:</strong> {{ student.address }}</p>
      <p><strong>Student Phone:</strong> {{ student.studentPhone }}</p>
      <p><strong>Parent Phone:</strong> {{ student.parentPhone }}</p>
      <button routerLink="/students/edit/{{ student.studentId }}">Edit</button>
      <button routerLink="/students">Back to List</button>
    </div>
  </div>
  